html {
    background-color: #c5cae9;
} 
form {
    border: solid 2px lightgrey;
    padding: 10px;
    border-radius: 5px;
    
}

h1 {
    font-family: 'Seymour One', sans-serif;
}
div.container {
    border-radius: 25px;
    padding: 20px;
    background-color: #9fa8da;
  }

form:focus-within {
    border-color: orange;
}

tr:hover {
    background-color: purple lighten-3;
}
